.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 10px;
    margin: 1px;
    border: none;
  }

  &_btn {
    background-color: #d3c0ee;
    border: 1px solid darkgray;

  }

  &-pageNumber {
    background-color: #94beb6;
  }

  &-selectedPage {
    background-color: #217674;
    color: white;
  }
}

